## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio
.vs/
*.csproj.user
_ReSharper*/
[Tt]est[Rr]esult*/
[Dd]ebugPublic/
[Rr]eleasePublic/

## Rider
.idea/

## Coverage
coverage-report/
TestResults/

## OS
.DS_Store
Thumbs.db
docs/demo/publish/

## Worktrees
.worktrees/
